*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider{
    position: relative;
    overflow: hidden;
}

.my-slider div{
    width: 100vw;
    height: 100vh;
}

.my-slider div img{
    width: 100%;
    display: block;
    height: auto;
}

.slider-btn{
    width: 50px;
    height: 25px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #FF6600;
    position: absolute;
}

.slider-btn:hover{
    background-color: #FF9900;
}

.prev-btn{
    left: 5%;
    top: 50%;
}

.next-btn{
    right: 5%;
    top: 50%;
}